@import '@yaireo/tagify/dist/tagify.css';
@import "tailwindcss";

@plugin "daisyui" {
    name: "mytheme";
    default: true;
    prefersdark: false;
    preferslight: true;
    color-scheme: light;

    --radius-box: 0.375rem
}

@theme {
    --color-header: oklch(var(--header) / <alpha-value>);
    --color-google: #DB4437;
    --color-google-hover: #DB4437;
    --color-microsoft: #00A4EF;
    --color-microsoft-hover: #00A4EF;
    --color-header: #491eff;
    --shadow-top: 0 -10px 10px rgba(0, 0, 0, 0.25);
    --text-mdx: 110%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown p {
  @apply mb-4;
}

.markdown h1 {
  @apply text-2xl mb-2;
}

.markdown h2 {
  @apply text-xl mb-2;
}

.markdown h3 {
  @apply text-lg mb-2;
}

.markdown h4 {
  @apply font-bold mb-1;
}

.markdown h5 {
  @apply font-bold mb-1;
}

.markdown ol {
  @apply list-decimal ps-6 mb-2;
}

.markdown ul {
  @apply list-disc ps-6 mb-2;
}

.markdown *:last-child {
  @apply mb-0;
}

.markdown li {
  @apply ps-2;
}

.markdown pre {
  @apply whitespace-pre-wrap text-sm overflow-x-hidden;
}

.markdown pre div {
  @apply !overflow-x-hidden;
}

.markdown code {
  @apply !whitespace-pre-wrap text-sm overflow-x-hidden;
}

.markdown a {
  @apply text-primary;
}

.markdown a:hover {
  @apply underline;
}

.markdown a:focus {
  @apply underline;
}

.btn-google {
  @apply bg-google border-google hover:bg-google-hover hover:border-google-hover text-white;
}

.btn-microsoft {
  @apply bg-microsoft border-microsoft hover:bg-microsoft-hover hover:border-microsoft-hover;
}

.nav-menu li {
  @apply px-4 py-2 hover:text-primary hover:font-semibold;
}

.nav-menu li a.active {
  @apply text-primary font-semibold;
}

.tagify__tag:hover:not([readonly]) div::before {
  --tag-bg-inset: -2px;
}

.form-row {
  @apply mb-6;
}

.form-row:last-child {
  @apply mb-0;
}

.nav-menu li:hover {
  @apply font-normal;
}

.nav-menu-bordered li {
  @apply border-l-[5px] border-transparent py-1 mb-2;
}

.nav-menu-bordered li:has(.active) {
  @apply border-primary;
}

.nav-menu-dotted li {
  @apply relative;
}

.nav-menu-dotted li:hover::before {
  @apply content-[''] rounded-full w-1 h-1 absolute -left-3 bg-primary;
}

@layer components {
  .tags {
    @apply min-h-6 h-auto max-w-full p-1;
  }

  .dropdown-menu {
    @apply menu rounded-box border-gray-200 border-[1px] bg-base-100 p-2 shadow;
  }

  .legend {
    @apply mb-2 mt-8 text-lg font-semibold;
  }
}